{% extends "base.html" %}
{% block title %}Relatórios - Nova Aliança{% endblock %}

{% block content %}
<h1>Relatórios</h1>

<table style="width:100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>ministério/Dia</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for item in registros %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.tipo }}</td>
            <td>
                {% if item.tipo == 'Voluntário' %}{{ item.ministério }}{% else %}{{ item.dia_semana }}{% endif %}
            </td>
            <td>{{ item.data }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
